.header {
  display: flex;
  justify-content: space-between;
}

.my-logo {
  padding: 10px 12px;
}

.hamburguer-menu {
  padding: 8px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070FF;
}

.headline-container img {
  width: 100%
}